version: "3.8"

services:
  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: food_knowledge_hub_dev_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5437:5432"
    restart: unless-stopped

